{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Entregables
{% endblock titulo %}


{% block cabecera %}
    Listado de Entregables
{% endblock cabecera %}

{% block contenido %}
<table class="table">
    <thead>
        <tr>
           <th>Nombre</th>
           <th>FechaEntrega</th>
           <th>Entregado</th>
        </tr>
    </thead>
    <tbody>
    {% for entregables in entregables %}
    <tr>
        <td>{{ entregables.nombre }}</td>
        <td>{{ entregables.fechaentrega }}</td>
        <td>{{ entregables.entregado }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}